header {
  text-align: center;
  font-weight: bold;
  color: teal;
}

#codequiz {
  font-size: xx-large;
  margin-bottom: 2%;
}

#subheader {
  font-size: large;
  margin-bottom: 8%;
}

#scoresHeader {
  color: teal;
}

#scorePosted {
  color: purple;
  font-size: xx-large;
}

.container {
  text-align: center;
}

li {
  list-style-type: none;
}

/*Button design*/
button {
  font-size: x-large;
  margin-top: 3%;
}

.btnhidden {
  display: none
}

.card {
  display: none;
  z-index: 1;
  overflow: hidden;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}